<!-- <div class="loginwrapper"> -->
    <div class="logincontainer animation a1">
      <!-- <div class="login-heading"></div> -->
      <div class="sign-in-text">Sign In</div>

        <form
          class="example-container example-full-width"
          [formGroup]="options"
          [style.fontSize.px]="getFontSize()"
        >
          <mat-form-field >
            <input type="text" matInput placeholder="User Name" />
          </mat-form-field>
          <br />
          <mat-form-field>
            <input type="password" matInput placeholder="Password" />
          </mat-form-field>
          <br />
          <div class="buttons-container" style="float: right;">
            <button
              mat-raised-button
              color="primary"
              (click)="login()"
            >
              LOGIN
            </button>
          </div>
        </form>
    </div>
<!-- </div> -->
