<!-- <div class="container" class="places">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="center">
          <mat-card role="region" class="places">
            <header>Header</header>
            <mat-card-title>Title 1</mat-card-title>
            <mat-card-subtitle>Title</mat-card-subtitle>
            <mat-card-content>Body</mat-card-content>
            <img mat-card-image class="example-header-image">
            <mat-card-actions align="end">Action</mat-card-actions>
            <mat-card-footer>Footer</mat-card-footer>
          </mat-card>
        </div>
        <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px" fxFlexOrder fxFlexOrder.xs="2">
          <div fxLayout="column" fxLayoutAlign="start">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <mat-card class="example-card">
              <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxLayout="column" fxLayoutAlign="start">
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="15px">
              <mat-card class="example-card">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">
              Cras justo odio
            </button>
            <button type="button" id="accordionExample" class="list-group-item list-group-item-action">

              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                      Collapsible Group Item #1
                    </button>
                  </h2>
                </div>
              </div>

            </button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->





<div class="cards">

  <div class="card">
    <div class="image">
      <img src="https://assets.codepen.io/43365/bulldog.jpeg" />
    </div>
    <div class="content">
      <h2>Sleepiest Doggo!</h2>
      <p>Look at this sleepiest pupper!</p>
    </div>
  </div>

  <div class="card-one is-loading">
    <div class="image"></div>
    <div class="content">
      <h2></h2>
      <p></p>
    </div>
  </div>

  <div class="card-one is-loading">
    <div class="image"></div>
    <div class="content">
      <h2></h2>
      <p></p>
    </div>
  </div>

  <div class="card-one is-loading">
    <div class="image"></div>
    <div class="content">
      <h2></h2>
      <p></p>
    </div>
  </div>

</div>