<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <span class="sub-title">{{subtitle}}</span>
        </div>

        <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="#">Large</a>
        </div>

        <div class="col-4 text-center">
            <button mat-stroked-button (click)="connectToOfficial()">सम्पर्क</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button (click)="gotoLogin()">लग-इन</button>
        </div>
    </div>
</header>

<nav style="background-color: #e3f2fd;">

    <ul class="nav justify-content-center">
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <mat-icon>home</mat-icon>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/live'">प्रसारण</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ct/cate/global'">विश्व</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ct/cate/sport'">खेलकुद</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ct/cate/busi'">व्यापार</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ct/cate/entertain'">मनोरञ्जन</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ct/cate/prabidhi'">प्रविधिहरू</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ct/cate/lifestyle'">जीवनशैली</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ct/cate/food'">खाना र संस्कृति</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ct/cate/global'">विश्व नेताहरु</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/ct/cate/opinion'">ट्विटर राय</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/lekh'">लेख</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" [routerLink]="'/about'">सम्पर्क</a>
        </li> -->
    </ul>
</nav>

<!-- <div style="margin: 1%;">
    <router-outlet></router-outlet>
</div> -->



<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>