.mainGrid {
    grid-gap: 1rem;
}
.mainGrid div {
    background-color: lightsalmon;
    border: 2px solid black;
}

mat-grid-tile {
    background: lightblue;
}

.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}