<div class="basic-container">

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Fresh Coffee</span>
            <span class="section-heading-lower">Worth Drinking</span>
          </h2>
          <p class="mb-3">Every cup of our quality artisan coffee starts with locally sourced, hand picked ingredients.
            Once you try it, our coffee will be a blissful addition to your everyday morning routine - we guarantee it!
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-basic btn-xl" href="#">Visit Us Today</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <form [formGroup]="exampleForm" novalidate (ngSubmit)="save(exampleForm.value, exampleForm.valid, $event)">
    <mat-card-content>

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>First name</mat-label>
              <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Telephone</mat-label>
              <span matPrefix>+977 &nbsp;</span>
              <input type="tel" matInput placeholder="555-555-1234">
              <mat-icon matSuffix>mode_edit</mat-icon>
            </mat-form-field>
            <mat-form-field class="example-button-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary" class="example-full-width">Submit</button>
          </form>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </form>
</div>