.mat-cards {
    min-height: 100vh;
    width: 100%;
}

.card-body {
    height: 100%;
    width: 90%;
    margin-left: 10%;
}

.margin-top-row {
    margin-top: 5%;
}

.margin-left-row {
    margin-left: 5%;
}

.places {
    margin: 2%;
    padding: 2%;
}

// .spacer {
//     flex: 1 1 auto;
// }

.mat-tab-group {
    margin-bottom: 38px;
}