<mat-card class="mat-cards">
  <!-- <mat-card-title>Reactive form</mat-card-title> -->
  <mat-card class="mat-cards mat-elevation-z4">
    <button mat-fab color="accent" aria-label="bookmark">
      <mat-icon>bookmark</mat-icon>
    </button>
    &nbsp; &nbsp;
    <span
      >Write your story: &nbsp;
      <button mat-icon-button aria-label="Contact" click="editStory()">
        <mat-icon>edit</mat-icon>
      </button>
    </span>
    <!-- <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">

          </div>
        </div>
      </div> -->
    <!-- <div class="spac"></div>
      <button mat-stroked-button color="primary" (click)="editStory()">
        Submit
      </button> -->
    <app-edit *ngIf="!allowEdit"></app-edit>
  </mat-card>
</mat-card>
