<div [class]="'theme-wrapper ' + (theme$ | async)">

  <mat-drawer-container class="containers" autosize *ngIf="deviceXs">
    <mat-drawer #drawer class="sidenavs" mode="side">
      <div class="space-block">
      </div>
  
      <button color="primary" mat-button [routerLink]="'/live'">
        <mat-icon>tv</mat-icon> &nbsp; Stream
      </button>
  
      <mat-divider></mat-divider>
      <button color="primary" mat-button [routerLink]="'/ct/cate/global'">
        <mat-icon>language</mat-icon> &nbsp; Global
      </button>
      <button color="primary" mat-button [routerLink]="'/ct/cate/sport'">
        <mat-icon>sports_soccer</mat-icon> &nbsp; Sport
      </button>
  
      <button color="primary" mat-button [routerLink]="'/ct/cate/busi'">
        <mat-icon>work</mat-icon> &nbsp; Economic
      </button>
  
      <button color="primary" mat-button [routerLink]="'/ct/cate/entertain'">
        <mat-icon>theaters</mat-icon> &nbsp; Entertainment
      </button>
      <button color="primary" mat-button [routerLink]="'/ct/cate/prabidhi'">
        <mat-icon>timeline</mat-icon> &nbsp; Technology
      </button>
      <button color="primary" mat-button [routerLink]="'/ct/cate/lifestyle'">
        <mat-icon>games</mat-icon> &nbsp; Life Style
      </button>
      <button color="primary" mat-button [routerLink]="'/ct/cate/food'">
        <mat-icon>games</mat-icon> &nbsp; Food
      </button>

      <mat-divider></mat-divider>
      <button color="primary" mat-button [routerLink]="'/about'">
        <mat-icon>description</mat-icon> &nbsp; About
      </button>


      <mat-divider></mat-divider>
      <button
        color="primary"
        mat-button
        [routerLink]="'/lekh'"
        style="margin-top: 5px;"
      >
        <mat-icon>article</mat-icon>&nbsp; E-Lekh
      </button>
    </mat-drawer>
    <div class="sidenavs-content">
      <mat-toolbar color="white">
        <mat-toolbar-row>
          <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
  
          <span>Title</span>
  
          <div class="spacer"></div>
  
          <a
            aria-label="Angular on twitter"
            target="_blank"
            rel="noopener"
            title="User"
          >
            <svg
              id="twitter-logo"
              height="24"
              data-name="Logo"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 400 400"
            >
              <rect width="400" height="400" fill="none" />
              <path
                d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
                fill="#fff"
              />
            </svg>
          </a>
  
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>post_add</mat-icon>
              <span>Post</span>
            </button>
            <button mat-menu-item>
              <mat-icon>perm_identity</mat-icon>
              <span>Login</span>
            </button>
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>Logout</span>
            </button>
            <button mat-menu-item>
              <mat-slide-toggle style="margin: 1%;"
              (change)="onAutoNightModeToggle($event)">
            </mat-slide-toggle>
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
      <!-- <router-outlet></router-outlet> -->
    </div>
  </mat-drawer-container>

  <!-- <mat-toolbar>

    <mat-toolbar-row *ngIf="!deviceXs">
      <div class="toolbar" role="banner">
        <img
          width="40"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
        <span>Welcome</span>
        <div class="spacer"></div>

        <span>
          <app-refresh></app-refresh>
        </span>
        &nbsp;
        <button mat-icon-button aria-label="Contact" routerLink="/view">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button aria-label="Contact" routerLink="/about">
          <mat-icon>add</mat-icon>
        </button>
        <span *ngIf="language$ | async as language" style="margin: 1%;">
          <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">
            <mat-option *ngFor="let l of languages" [value]="l">
              {{ l.toUpperCase() }}
            </mat-option>
          </mat-select>
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar> -->

  <div>
    <app-header></app-header>
  </div>
</div>

<footer class="blog-footer fixed-bottom">
  <p>THE MITHILA <a href="https://tnp.com/">All the rights reserved</a> by <a href="https://twitter.com">@tnp</a>.</p>
</footer>
