.example-form {
  display: flex;
  flex-direction: column;
}

.example-form > * {
  width: 100%;
}

.close {
  width: 100%;
}

.mat-raised-button {
  border-radius: 20px;
}

.example-full-width {
    width: 100%;
}