<!-- <mat-card>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="6px">
      <div></div>
      <a href="https://www.github.com/altusgerona" target="_blank"
        ><i class="fa fa-github-square"></i
      ></a>
      <a href="https://stackoverflow.com/users/story/3778645" target="_blank"
        ><i class="fa fa-stack-overflow"></i
      ></a>
    </div>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-grid-list cols="4" rowHeight="170px" gutterSize="5px">
    <mat-grid-tile
      colspan="3"
      rowspan="2"
    >
      <img src="./assets/Dotnettricks.png" />
      <mat-grid-tile-footer>
        <h3>Hello</h3>
      </mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="6">
      Hello
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="5">
      <mat-card>

      </mat-card>

      <mat-card *ngFor="let tile of tiles">

      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card> -->

<!-- <mat-card>
  <mat-grid-list cols="4" rowHeight="170px" gutterSize="5px">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
    >
      <img src="./assets/Dotnettricks.png" />
      <mat-grid-tile-footer>
        <h3></h3>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols = "4" rowHeight = "100px">
    <mat-grid-tile 
    [colspan] = "3"
    [rowspan] = "1">1
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "2">
    <mat-list>
      <mat-list-item *ngFor="let message of messages">
        <h3 matLine> {{message.from}} </h3>
        <p matLine>
          <span> {{message.subject}} </span>
          <span class="demo-2"> -- {{message.content}} </span>
        </p>
      </mat-list-item>
    </mat-list>
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "1"
    [rowspan] = "1">3
    </mat-grid-tile>
    <mat-grid-tile 
    [colspan] = "2"
    [rowspan] = "1">4
    </mat-grid-tile>
  </mat-grid-list>
</mat-card> -->

<!-- <div class="basic-container">

</div> -->


<!-- <div ng-controller="ExampleController">
  <select ng-model="selection" ng-options="item for item in items">
  </select>
  <code>selection={{selection}}</code>
  <hr/>
  <div class="animate-switch-container"
    ng-switch on="selection">
      <div class="animate-switch" ng-switch-when="settings|options" ng-switch-when-separator="|">Settings Div</div>
      <div class="animate-switch" ng-switch-when="home">Home Span</div>
      <div class="animate-switch" ng-switch-default>default</div>
  </div>
</div> -->



<!-- angular.module('switchExample', ['ngAnimate'])
.controller('ExampleController', ['$scope', function($scope) {
  $scope.items = ['settings', 'home', 'options', 'other'];
  $scope.selection = $scope.items[0];
}]); -->



<div>
  <br>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div class="space"></div>
      <div class="blocks">
        <a button mat-raised-button color="accent" (click)="openDialog()">
          Add Post
        </a>
      </div>
    </div>
    <br>
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card mat-elevation-z8">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Recent Posts</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container">
              Hello
            </div>
          </mat-card-content>
        </mat-card>
      </div>
</div>





<!-- <mat-card class="mat-cards">
  <mat-card-content style="margin-top: 5%;">
    <div fxLayout="column">
      <div fxLayout="row" fxFlex="50px" fxLayoutAlign="center center">
        <mat-card class="card"></mat-card>
        <div (click)="onClick($event)"><p *ngIf="showing">Wait.. 1s</p></div>
      </div>

      <div fxLayout="row">
        <div fxFlex="20" fxFlexOffset="10" fxLayoutAlign="start center">X</div>
        <div fxFlex="80" fxFlexOffset="10" fxLayoutAlign="start center">Y</div>
      </div>

      <div fxLayout="row" style="margin-top: 5%;" fxLayout.xs="column">
        <div fxFlex="25" fxFlexOffset="1" fxLayoutAlign="start center">
          <mat-card class="cards"></mat-card>
        </div>
        <div fxFlex="25" fxFlexOffset="1" fxLayoutAlign="start center">
          <mat-card class="cards"></mat-card>
        </div>
        <div fxFlex="25" fxFlexOffset="1" fxLayoutAlign="start center">
          <mat-card class="cards"></mat-card>
        </div>
        <div fxFlex="25" fxFlexOffset="1" fxLayoutAlign="start center">
          <mat-card class="cards"></mat-card>
        </div>
      </div>

      <div fxLayout="row" style="margin-top: 5%;">
        <div fxLayout="row" fxFlex="100" fxFlexFill fxLayout.xs="column" fxLayoutAlign="space-between strech">
          <div fxFlex="30" fxLayoutAlign="center center">
            <mat-card class="cards"></mat-card>
          </div>
          <div fxFlex="30" fxLayoutAlign="center center">
            <mat-card class="cards"></mat-card>
          </div>
          <div fxFlex="30" fxLayoutAlign="center center">
            <mat-card class="cards"></mat-card>
          </div>
        </div>

        <div fxLayout="column" fxFlex="30" fxFlexFill fxLayoutAlign="space-between strech">
          <div fxLayout="row" fxFlex="20px" fxLayoutAlign="center center">
            <mat-card class="cards"></mat-card>
          </div>
          <div fxLayout="row" fxFlex="20px" fxLayoutAlign="center center">
            <mat-card class="card"></mat-card>
          </div>
          <div fxLayout="row" fxFlex="20px" fxLayoutAlign="center center">
            <mat-card class="card"></mat-card>
          </div>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="20" fxFlexOffset="10" fxLayoutAlign="center center">H</div>
        <div fxFlex="80" fxFlexOffset="10" fxLayoutAlign="center center">I</div>
      </div>
    </div>
  </mat-card-content>
</mat-card> -->