:host {
    padding: auto;
    display: grid;
    // grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto-fit);
    grid-gap: 22px;
}
  
.mycard {
    display: grid;
    place-content: center;
    font-family: sans-serif;
    font-size: 100%;
    border-radius: 15px;
}
  
div a:hover,
div a:focus {
    cursor: pointer;
    text-decoration: none;
}