<div style="position:absolute; top: 0; left: 50%;">

    <!-- <div [style.transform]="transformPosition$ | async">
        <svg width="70" height="70" [style.transform]="transform.Rotate$ | async"></svg>
    </div> -->

    <div style="transform: translate3d(-35px, 0, 0);">
        <svg width="70" height="70" style="transform: rotate(0deg);">
            <circle cy="35" cx="35" r="35" fill="lightgrey"></circle>
            <circle cy="15" cx="35" r="10" fill="blank"></circle>
        </svg>
    </div>
</div>