.video-fluid {
    width: 100%;
    height: 60%;
  }
  
  
  .mat-video {
    height: 100%;
    width: 100%;
  }
  
  
  div {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .content {
    margin: 1%;
  }
  
  .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mat-video-responsive {
    width: 50%;
  }
  
  .mat-video-fixed {
    width: 600px;
  }
  
  .sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 500px;
  }
  
  .title {
    font-weight: bold;
    margin: auto;
  }
  
  .title .name {
    font-style: italic;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  
  .mat-drawer-container {
    background-color: white;
  }
  
  .mat-drawer-side {
    border-right: none;
  }
  
  .item-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 40px;
  }
  
  .item-margin {
    margin: 0 10px;
  }
  
  .mat-card {
    position: fixed;
    transition: all 1s linear;
  }
  
  .fullscreen {
    background-color: red;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  
  
  
  .room-members {
    overflow-x: auto;
    white-space: nowrap;
  }
  .room-members > .col {
    display: inline-block;
    float: none;
  }
  
  .scrollable {
    overflow-y: auto;
  }
  
  .overlay-container {
    position: relative;
  }
  
  .overlay-item {
    position: absolute;
    top: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: " ";
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 50%;
  }
  

  .video-margin {
    padding-top: 2rem;
  }








  *{
    margin: 0;
    padding: 0;
    font-family: sans-serif, tahoma;
    box-sizing: border-box;
}

body{
    background: #eee;
}

.chatbox {
    width: 500px;
    min-width: 390px;
    height: 600px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 0 30px #ccc;
}

.chatlogs {
    padding: 10px;
    width: 100px;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img {
    width: 100%;
}

.chat .chat-message {
    width: 80%;
    height: 15px;
    padding: 15px;
    margin: 5px 10px 0;
    background: #1ddced;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.chatfriend .chat-message {
    background: #1adda4;
}

.self .chat-message {
    background: #1ddced;
    order: -1;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form textarea {
    background: #fbfbfb;
    width: 75%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
}

.chat-form textarea:focus {
    background: #fff;
}

.chat-form button {
    background: #1ddced;
    padding: 5px 15px;
    font-size: 30px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor: pointer;
}

.chat-form button:hover {
    background: #13c8d9;
}

.chat-form textarea::-webkit-scrollbar {
    width: 10px;
}

.chat-form textarea::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}